/* 
Color Palette
#FABB34 - Honey yellow
#DEFFEB - Aero Blue
#3C4F76 - Y in mn blue
#FEF8DB - Cornsilk
*/

/*--------------------------GLobal Styles----------------------*/

/* To include padding and margins in the width and height of an element */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #3C4F76;
    margin: 0;
    padding: 0;
    font-family: 'El Messiri', sans-serif;
}

img {
    width: 200px;
    border-radius: 50%;
    border: 1px solid ;
}

h1{
    font-family: 'Macondo', cursive;
    font-size: 64px;
    text-shadow: 3px 3px #FABB34;
    margin: 0;
}

h1+h3{
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
}

.centered-text{
    text-align: center;
}

/* Different from body -- does not include the header */

.body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: center;
    background-color: #FEF8DB;
    overflow: scroll;
}

/* So that the content stays in the middle of the screen and does not reach the end of the screen */

.display {
    max-width: 1000px;
    width: 85%;
    margin: 0 auto;
}

/* -------------------------Home Page---------------------- */

.homepage{
    background-image: url("./assets/background-home.jpeg");
    background-size: cover;
    background-position: top left;
    overflow: hidden;
    height: 100vh;
}

.homepage img {
    width: 400px;
    padding: 50px;
    border-radius: 50%;
    border: none;
}

.home.sidebar{
    background: none;
    border: 0;
}

.home.sidebar nav{
    text-align: right;
}

.home.sidebar nav a{
    display: inline-block;
    border: none;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:900;
    color: #3C4F76
}

/* the start button on the homepage */

.start{
    font-size: 60px;
    background-color: rgba(0,0,0,0.3);
    padding: 0 30px 10px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    border: none;
}

.start:hover{
    background-color: rgba(0,0,0,0.7);
}

/*--------------------------Header----------------------*/

header {
    background-image: url("./assets/background-header.jpeg");
    background-size: cover;
    background-position: bottom right;
    overflow: hidden;
    height: 280px;
}

/* fixes the header to the top of the page when scrolling */

.fixed{
    position: fixed;
    top: 0;
    width: 100%;
}

/* grid display to keep the logo and the title/tagline side-by-side */

.header-format{
    padding: 40px 0;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

 /* Same height as the header because it needs to fill up the space 
that was supposed to be taken by the header in the normal flow  */

.formatter{
    height: 280px;
}
/*--------------------------Sidebar----------------------*/

.sidebar nav a {
    display: block;
    min-width:max-content;
    padding: 20px 0;
    border-bottom: 2px solid ;
    text-align: center;
    text-decoration: none;
    color: #3C4F76;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.body .sidebar nav a:last-child{
    border: 0;
    padding-bottom: 200px;
}

.body .sidebar a.active {
    background-color: #3C4F76;
    color: #DEFFEB;
    border: 3px solid ;
}

.sidebar {
    justify-self: left;
    width: 100%;
    background-color: #DEFFEB;
    border-right: 1px solid ;
}
/*--------------------------Main Content----------------------*/

.main-content{
    padding: 60px 0;
}

.film{
    height: 25vw; /*scales according to the window size -- to maintain the aspect ratio*/
}

.video{
    display: block;
    margin: 0 auto;
}

.description{
    margin: 20px 10%;
}

/*--------------------------Counters----------------------*/

/* grid diplay to keep the iamges of each counter and their respective descriptions side by side */

.counter{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 20px 0;
    justify-items: center;
    align-items: center;
    border-bottom: 2px dashed #3C4F76;
}

.counter img {
    width: 250px;
    height: 200px;
    border-radius: 20%;
    border: none;
    margin: 20px 0;
}

/* titles, descriptions and images of each counter */

.c-name{
    font-family: 'Rubik Dirt', cursive;
    font-size: 30px;
}

.counter-desc{
    margin: 0 20px;
    text-align: justify;
}

.counter-imgs{
    display: flex;
}

/* previous and next buttons for the photo carousel */

.prev, .next{
    cursor:pointer;
    display: inline-block;
    margin: 110px 5px;
    font-size: 20px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.5);
}

/*--------------------------About-----------------------*/

.about-content{
    margin: 0 50px;
}

.creator.one{
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 2px dashed #3C4F76;
}

.creator.two{
    text-align: right;
    padding-top: 15px;
}

/*--------------------------Footer----------------------*/

footer {
    background-color: #3C4F76;
    color: #DEFFEB;
    text-align: center;
    margin: 0;
    padding: 30px;
}

.location {
    display: inline-block;
    padding-right: 15px;
    color: #DEFFEB;
}

/*--------------------------Media Queries----------------------*/

/* For screens that are narrower than 800px */

@media screen and (max-width: 800px ){
    h1{
        font-size: 58px;
    }
    
    h1+h3{
        font-size: 22px;
    } 
    
    header h1{
        font-size: 44px;
    }

    header h1+h3{
        font-size: 18px;
    }

    .home.sidebar nav{
        text-align: center;
    }

    .home.sidebar nav a{
        font-size: 18px;
    }   
    
    .homepage img {
        width: 350px;
    }
    
    /* keeping the sidebar and the main content area side by side would be too congested for smaller screens */
    /* so it is displayed as one followed by the other (only one column)*/

    .body{
        grid-template-columns: 1fr;
    }

    .sidebar nav a {
        display: inline-block;
        border: none;
        padding: 15px 40px;
        text-decoration: none;
    }

    /* since the navigation bar is now displayed in a single line, the last a element is no longer needed for styling */

    .body .sidebar nav a:last-child{
        display: none;
    }
    
    .sidebar {
        justify-self: stretch;
        text-align: center;
        border-bottom: 1px solid;
        border-right: 0;
    }

    .film{
        height: 40vw;
    }
}

/* For screens that are narrower than 520px */

@media screen and (max-width: 520px ){

    /* keeping the logo and the title/tagline side by side would be too congested for screens of this size*/
    /* so it is displayed as one followed by the other (only one column) */

    .header-format{
        grid-template-columns: 1fr;
    }

    /* since the image, title and tagline are stacked on top of one another,
     more height is occupied by the header content.*/
    header, .formatter{
        height: 200px;
        max-height: 200px;
    }

    h1{
        font-size: 48px;
    }
    
    h1+h3{
        font-size: 18px;
    }

    .header-format{
        padding: 10px;
        width: 95%;
    }

    header img{
        width: 110px;
    }

    header h1{
        font-size: 25px;
    }
    
    header h1+h3{
        font-size: 14px;
        margin: 5px;
    }

    .homepage img {
        width: 70%; /* as the screen size becomes smaller, 
                    we want the image to scale according to the scrren size 
                    rather than being of fixed size.*/
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* smaller button size for a smaller screen */

    .start{
        font-size: 40px;
        padding: 0 20px 5px;
    }

    .sidebar nav a {
        display: inline-block;
        border: none;
        padding: 5px 40px;
        text-decoration: none;
    }

    /* keeping the image and the description of the counters side by side 
    would be too congested for screens of this size*/
    /* so it is displayed as one followed by the other (only one column) */

    .counter{
        grid-template-columns: 1fr;
    }
    
    .counter img {
        width: 80%; /* as the screen size becomes smaller, 
                    we want the image to scale according to the scrren size 
                    rather than being of fixed size.*/
        max-height: 64%;
    }

    .counter-desc{
        margin-left: 0;
    }
}
