/* 
color palette

#D0F1F2 - light cyan
#E4FFDE - nyanza (green)
#3C4F76 - Y in mn blue
#FFECC3 - Banana Mania
#1F3D2F - Phthalo green

*/

/*--------------------------GLobal Styles----------------------*/

/* To include padding and margins in the width and height of an element */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #3C4F76;
    margin: 0;
    padding: 0;
}

img {
    width: 150px;
    border-radius: 20%;
    border: 1px solid ;
}

h1{
    font-size: 44px;
    text-shadow: 3px 3px #FFECC3;
}

h1+h3{
    font-size: 20px;
}

.centered-text{
    text-align: center;
}

.body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: center;
    background-color: #E4FFDE;
    overflow: scroll;
}

.display {
    max-width: 1000px;
    width: 85%;
    margin: 0 auto;
}

/* -------------------------Home Page---------------------- */

.homepage{
    background-image: url("./assets/image2.jpg");
    background-size: cover;
    background-position: bottom right;
    overflow: hidden;
    height: 100vh;
}

.homepage img {
    width: 400px;
    padding: 50px;
    border-radius: 20%;
    border: none;
}

.home.sidebar nav{
    text-align: right;
}

.home.sidebar nav a{
    display: inline-block;
    border: none;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 18px;

}

/*--------------------------Header----------------------*/

header {
    background-image: url("./assets/image2.jpg");
    background-size: cover;
    background-position: bottom right;
    overflow: hidden;
    max-height: 232.45px;
}

.fixed{
    position: fixed;
    top: 0;
    width: 100%;
}

.header-format{
    padding: 40px 0;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.formatter{
    height: 232.45px;
}
/*--------------------------Sidebar----------------------*/

.sidebar nav a {
    display: block;
    min-width:max-content;
    padding: 20px 0;
    border-bottom: 2px solid black;
    text-align: center;
}

.body .sidebar nav a:last-child{
    border-bottom: 0;
    padding-bottom: 200px;
}

.body .sidebar a.active {
    background-color: #1F3D2F;
    color: #FFECC3;
}

.sidebar {
    justify-self: left;
    width: 100%;
    background-color: #FFECC3;
}
/*--------------------------Main Content----------------------*/

.main-content{
    padding: 60px 0;
}

.film{
    height: 25vw;
}

.video{
    display: block;
    margin: 0 auto;
}

/*--------------------------Counters----------------------*/

.counter{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px 0;
    justify-items: center;
    border-bottom: 2px dashed #3C4F76;
}

.counter img {
    width: 250px;
    height: 200px;
    border-radius: 20%;
    border: 1px solid ;
    margin: 20px 0;
}

.counter-desc{
    margin-left: 15px;
}

.imgs{
    display: flex;
}

.prev, .next{
    cursor:pointer;
    display: inline-block;
    margin: 110px 5px;
    font-size: 20px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.5);
}

/*--------------------------About-----------------------*/

.creator.one{
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 2px dashed #3C4F76;
}

.creator.two{
    text-align: right;
    padding-top: 15px;
}

/*--------------------------Footer----------------------*/

footer {
    background-image: url("./assets/image2.jpg");
    background-size: cover;
    background-position: top right;
    text-align: center;
    margin: 0;
    padding: 30px;
}

.contact-list {
    display:flex;
    justify-content: center;
}

.contact-list li{
    display: inline-block;
    padding: 5px 20px;

}

/*--------------------------Media Queries----------------------*/

@media screen and (max-width: 750px ){
    .body{
        grid-template-columns: 1fr;
    }
    .sidebar nav a {
        display: inline-block;
        border: none;
        padding: 15px 40px;
        text-decoration: none;
        font-size: 13px;
    }

    .body .sidebar nav a:last-child{
        display: none;
    }
    
    .sidebar {
        justify-self: stretch;
        text-align: center;
    }
    
    .home.sidebar nav{
        text-align: center;
    }

    .home.sidebar nav a{
        font-size: 13px;
    }   
    
    .homepage img {
        width: 350px;
    }

    h1{
        font-size: 34px;
        text-shadow: 3px 3px #FFECC3;
    }
    
    h1+h3{
        font-size: 15px;
    }    
}

@media screen and (max-width: 450px ){
    .header-format{
        grid-template-columns: 1fr;
    }

    header, .formatter{
        height: 350px;
        max-height: 350px;
    }

    .homepage img {
        width: 70%;
        padding: 0;
        margin-top: 50px;
    }

    .counter{
        grid-template-columns: 1fr;
    }
    
    .counter img {
        width: 90%;
        height: 72%;
    }

    .counter-desc{
        margin-left: 0;
    }

    

}

/* ------ Responsive iframe hack ------
---- but this leads to overlap ----
.film {
    position:relative;
    overflow: hidden;
    top: 20%;
    padding-top: 56.25%; 16:9 Aspect Ratio (divide 9 by 16 = 0.5625)
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.description{
    padding: 20% 0;
} */
